@use 'variables';

@mixin displayFlexColumn($display: flex) {
    display: $display;
    flex-direction: column;
    align-items: center;
}

.contact {
    background-image: url(./../../dist/images/contact/owl.jpg);
    height: 700px;
    padding: 160px 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    @media (max-width: 768px) {
        background-image: url(./../../dist/images/contact/owl_mobile.jpg);
        background-position: center;
        height: 40vh;
        padding: 70px 0;
    }

    &__container {
        @include displayFlexColumn;
        max-width: 100vw;
        width: 100%;
        margin: 0 auto;
        
        .title--big {
            text-transform: uppercase;

            @media (max-width: 768px) {
                margin-top: 32px;
            }
        }

        .title {
            @include variables.macondo;
            margin: 32px 0;
            font-size: 28px;
            font-weight: lighter;

            @media (max-width: 768px) {
                font-size: 20px;
                margin: 16px 0;
            }
        }

        button {
            @include variables.macondo;
            padding: 16px;
            font-size: 18px;
            border-radius: 5px;
            border: none;
            cursor: pointer;
            text-transform: uppercase;
            background-color: variables.$buttonBackgroundColor;

            @media (max-width: 768px) {
                font-size: 12px;
                padding: 8px;
            }

            &:hover {
                background-color: variables.$textColorPrimary;
                transition: background-color .8s ease;
            }
        }    
    }
}