@use 'variables';

.filming-set {
    min-height: 800px;
    padding: 160px;
    background-image: url(./../../dist/images/filming_set/filming_set.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    @media (max-width: 768px) {
        padding: 88px 24px;
        background-size: auto;
    }

        &__container {
            max-width: 80vw;
            margin: 0 auto;

            &__items {
                margin-top: 56px;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 32px;

                @media (max-width: 768px) {
                    display: block;
                    min-width: 300px;
                    max-width: 600px;
                }

                &__accordion {
                    .text--small {
                        font-weight: lighter;
                    }

                    &__item {
                        border: 3px solid variables.$overlayBackgroundColor;
                        margin-bottom: 16px;

                        @media (max-width: 768px) {
                            display: block;
                        }

                        &__item:last-child {
                            margin-bottom: 0;
                        }

                        &__header {
                            background-color: variables.$overlayBackgroundColor;
                            cursor: pointer;
                            display: block;
                            padding: 8px 16px;
                            position: relative;

                            &::after {
                                content: '+';
                                color: variables.$textColorPrimary;
                                position: absolute;
                                top: 0;
                                right: 16px;
                                height: 100%;
                                display: flex;
                                align-items: center;
                                font-size: 40px;
                            }
                        }

                        &__content {
                            max-height: 0;
                            overflow: hidden;
                            transition: max-height, .8s ease-out;
                            padding: 0 16px;

                        }
                        
                        &--is-open {

                            .filming-set__container__items__accordion__item__content {
                                max-height: 500px;
                                padding: 8px 16px;
                                transition: max-height, .8s ease-in-out;
                            }

                            .filming-set__container__items__accordion__item__header::after {
                                content: '-';
                            }

                        }
                    }
                }

                &__video {
                    @media (max-width: 768px) {
                        width: 100%;
                        margin-bottom: 64px;
                        min-width: 300px;
                        max-width: 600px;
                    }
                }
            }
        }
}