@use 'variables';

@mixin margin($margin-top: 10px) {
    margin-top: $margin-top;
    margin-bottom: 10px;
    text-align: justify;
    font-weight: lighter;
}

@mixin background($background-size: contain) {
    background-size: $background-size;
    background-repeat: no-repeat;
    background-position: center;
}

.hogwarts-houses {
    height: 60vh;
    background-color: variables.$backgroundColor;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

        &__gryffindor,
        &__hufflepuff,
        &__ravenclaw,
        &__slytherin {
            position: relative;
            padding: 80px 32px;
            border-radius: 20px;

            p {
                @include margin;
                @include variables.macondo;
            }

            .fa-quote-right {
                position: absolute;
                right: 10%;
            }

        }

        &__gryffindor {

            &:hover {
                @include background;
                background-image: linear-gradient(to top right, variables.$gryffindorBackground 20%, variables.$gryffindorBackgroundDark), url(./../../dist/images/hogwarts-houses/gryffindor.png);
            }
        }
        
        &__hufflepuff {

            &:hover {
                @include background;
                background-image: linear-gradient(to top right, variables.$hufflepuffBackground 20%, variables.$hufflepuffBackgroundDark), url(./../../dist/images/hogwarts-houses/hufflepuff.png);
            }
        }

        &__ravenclaw {

            &:hover {
                @include background;
                background-image: linear-gradient(to top right, variables.$ravenclawBackground 20%, variables.$ravenclawBackgroundDark), url(./../../dist/images/hogwarts-houses/ravenclaw.png);
            }

        }

        &__slytherin {

            &:hover {
                @include background;
                background-image: linear-gradient(to top right, variables.$slytherinBackground 20%, variables.$slytherinBackgroundDark), url(./../../dist/images/hogwarts-houses/slytherin.png);
            }
}




















    /* position: relative; */

    /* &__container {
        height: 100%;
        display: grid;
        grid-template: repeat(2, 1fr) / repeat(2, 1fr);
        border-top: 2px solid variables.$textColorPrimary;
        border-bottom: 2px solid variables.$textColorPrimary;
        
        img {
            height: 100px;
        }

        .title--big {
            @include variables.macondo;
            font-weight: bold;
        }

        &__gryffindor {
            background-image: linear-gradient(to bottom right, variables.$gryffindorBackground 50%, variables.$gryffindorBackgroundDark), url(./../../dist/images/hogwarts-houses/gryffindor.png);
            display: flex;
            align-items: center;
            justify-content: center;
            transition: filter 0.5s ease;

            &:hover {
                filter: brightness(1.2);
            }

            h3 {
                color: variables.$gryffindorTextColor;
            }
        }

        &__slytherin {
            background-image: linear-gradient(to bottom left, variables.$slytherinBackground 50%, variables.$slytherinBackgroundDark), url(./../../dist/images/hogwarts-houses/slytherin.png);
            display: flex;
            align-items: center;
            justify-content: center;
            transition: filter 0.5s ease;

            &:hover {
                filter: brightness(1.2);
            }

        }

        &__ravenclaw {
            background-image: linear-gradient(to top left, variables.$ravenclawBackground 50%, variables.$ravenclawBackgroundDark), url(./../../dist/images/hogwarts-houses/ravenclaw.png);
            display: flex;
            align-items: center;
            justify-content: center;
            transition: filter 0.5s ease;

            &:hover {
                filter: brightness(1.2);
            }
        }

        &__hufflepuff {
            background-image: linear-gradient(to top right, variables.$hufflepuffBackground 50%, variables.$hufflepuffBackgroundDark), url(./../../dist/images/hogwarts-houses/hufflepuff.png);
            display: flex;
            align-items: center;
            justify-content: center;
            transition: filter 0.5s ease;

            &:hover {
                filter: brightness(1.2);
            }

            h3 {
                color: variables.$hufflepuffTextColor;
                transition: scale 1s ease;

            }
        }

    }

    &__question {

        img {
            height: 320px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: all 0.5s ease-in-out;
    
            &:hover {
                height: 350px;
            }
        }

    }
} */
}