@use 'variables';

@mixin margin($margin-top: 10px) {
    margin-top: $margin-top;
    margin-bottom: 10px;
    text-align: justify;
    font-weight: lighter;
}

@mixin background($background-size: contain) {
    background-size: $background-size;
    background-repeat: no-repeat;
    background-position: center;
}

.hogwarts-houses {
    min-height: 60vh;
    background-color: variables.$backgroundColor;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    @media (max-width: 768px) {
        margin: 0 auto;
        display: block;
        padding: 24px;
        min-height: 115vh;
    }

        &__gryffindor,
        &__hufflepuff,
        &__ravenclaw,
        &__slytherin {
            position: relative;
            padding: 80px 32px;
            border-radius: 20px;
            max-width: 90%;

            @media (max-width: 768px) {
                margin: 10px auto;
                padding: 20px 20px;
                max-width: 350px;
                min-width: 275px;
            }

            p {
                @include margin;
                @include variables.macondo;

                @media (max-width: 768px) {
                    font-size: 16px;
                    text-align: center;
                }
            }

            .fa-quote-right {
                position: absolute;
                right: 10%;
            }
        }
}