@use 'variables';

@mixin margin($margin-top: 10px) {
    margin-top: $margin-top;
    margin-bottom: 10px;
    text-align: justify;
    font-weight: lighter;
}

@mixin background($background-size: contain) {
    background-size: $background-size;
    background-repeat: no-repeat;
    background-position: center;
}

.hogwarts-houses {
    height: 60vh;
    background-color: variables.$backgroundColor;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

        &__gryffindor,
        &__hufflepuff,
        &__ravenclaw,
        &__slytherin {
            position: relative;
            padding: 80px 32px;
            border-radius: 20px;

            p {
                @include margin;
                @include variables.macondo;
            }

            .fa-quote-right {
                position: absolute;
                right: 10%;
            }
        }
}