@use 'variables';

.newsletter {
    background-color: variables.$textColorPrimary;
    height: 90vh;
    padding: 120px 0;

    &__container {
        max-width: 80vw;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        .title,
        .title--small,
        .text--small {
            color: variables.$hufflepuffTextColor;
        }

        .title{
            text-transform: uppercase;
        }

        .text--small {
            font-weight: lighter;
            text-align: justify;
        }

        &__icons {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 88px;
            margin-bottom: 88px;
            gap: 20vw;

            &__item {
                display: flex;
                flex-direction: column;
                align-items: center;

                i{
                    color: variables.$hufflepuffTextColor;
                    font-size: 32px;
                }
            }
        }

        &__form {
            max-width: 80vw;
            width: 100%;
            margin-top: 40px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            &__name,
            &__email,
            &__button {
                padding: 8px;
                font-size: 16px;
                width: 100%;
                border: 2px solid variables.$hufflepuffTextColor;
            }

            &__name {
                max-width: 20vw;
            }

            &__email {
                max-width: 44vw;
            }

            &__button {
                cursor: pointer;
                max-width: 15vw;
                text-transform: uppercase;

                &:hover {
                    background-color: variables.$textColorPrimary;
                    transition: background-color .8s ease;
                }
            }
            
        }
    }
}