@use 'variables';

@mixin gryffindorText($color: variables.$gryffindorTextColor) {
    color: $color;
}

@mixin hufflepuffText($color: variables.$hufflepuffTextColor) {
    color: $color;
}

.houseButton--is-spinning {
    animation: spin 2s linear infinite;

    @keyframes spin {
        0% { transform: rotateY(0deg); }
        100% { transform: rotateY(360deg); }
    }
}

.hogwarts-houses__gryffindor--is-active {
    @include variables.background;
    background-image: linear-gradient(to top right, variables.$gryffindorBackgroundBox 20%, variables.$gryffindorBackgroundDark), url(./../../dist/images/hogwarts-houses/gryffindor.png);
}

.hogwarts-houses__hufflepuff--is-active {
    @include variables.background;
    background-image: linear-gradient(to top right, variables.$hufflepuffBackground 20%, variables.$hufflepuffBackgroundDark), url(./../../dist/images/hogwarts-houses/hufflepuff.png);
}

.hogwarts-houses__ravenclaw--is-active {
    @include variables.background;
    background-image: linear-gradient(to top right, variables.$ravenclawBackgroundBox 20%, variables.$ravenclawBackgroundDark), url(./../../dist/images/hogwarts-houses/ravenclaw.png);
}

.hogwarts-houses__slytherin--is-active {
    @include variables.background;
    background-image: linear-gradient(to top right, variables.$slytherinBackgroundBox 20%, variables.$slytherinBackgroundDark), url(./../../dist/images/hogwarts-houses/slytherin.png);
}



.--is-gryffindor {
    background-color: variables.$gryffindorBackground;

    .title--big,
    .title,
    .title--small,
    .directors-producers__container__text.text,
    .footer__container p,
    .footer__container__social-media i {
        @include gryffindorText;
    }

    .separator {
        @include gryffindorText;
        border-bottom: 3px solid;
    }

    .directors-producers__container__items__overlay {
        @include gryffindorText;
        border: 3px solid;
    }

    .directors-producers__container__items__overlay {
        i {
            @include gryffindorText;

            &:hover {
                color: variables.$overlayIconHover;
                transition: color .3s ease;
            }
        }
    }
}

.--is-slytherin {
    background-color: variables.$slytherinBackground;
}

.--is-ravenclaw{
    background-color: variables.$ravenclawBackground;
}

.--is-hufflepuff{
    background-color: variables.$hufflepuffBackground;

    .title--big,
    .title,
    .title--small,
    .directors-producers__container__text.text,
    .footer__container p,
    .footer__container__social-media i {
        @include hufflepuffText;
    }

    .separator {
        @include hufflepuffText;
        border-bottom: 3px solid;
    }

    .directors-producers__container__items__overlay {
        @include hufflepuffText;
        border: 3px solid;
    }

    .directors-producers__container__items__overlay {
        i {
            @include hufflepuffText;

            &:hover {
                color: variables.$overlayIconHover;
                transition: color .3s ease;
            }
        }
    }
}