$textColorPrimary: rgba(223, 221, 221, 0.878);
$backgroundColor: #050405fd;
$overlayBackgroundColor: rgba(0, 0, 0, .5);
$overlayIconHover: rgb(161, 50, 9);
$buttonBackgroundColor: rgba(255, 246, 246, 0.696);

$gryffindorBackground: rgba(42, 1, 1, 0.938);
$gryffindorBackgroundDark: rgba(22, 3, 3, 0.937);
$gryffindorTextColor: rgb(165, 165, 7);

$slytherinBackground: rgba(3, 26, 3, 0.938);
$slytherinBackgroundDark: rgba(1, 4, 1, 0.937);

$ravenclawBackground:  rgba(5, 5, 27, 0.938);
$ravenclawBackgroundDark:  rgba(1, 1, 15, 0.937);

$hufflepuffBackground: rgba(255, 204, 0, 1);
$hufflepuffBackgroundDark:  rgb(8, 10, 1, 0.937);
$hufflepuffTextColor: rgb(15, 15, 15);

@mixin macondo($font-family: Macondo) {
    font-family: $font-family;
}